$card-bg: #fff;
$card-fg: #000;
$nav-button-sprite-width: 34px;
$nav-button-sprite-height: 52px;
$nav-button-width: $nav-button-sprite-width;
$nav-button-height: 74px;
$nav-shadow: #ccc;

/**
  * Having a very small delay on hover reduces some flash of transtion when the
  * mouse is mearly migrating over the element.
  */
$nav-hover-delay: 0.1s;
$nav-hover-duration: 0.3s;

// "Simplified" BEM.
.azcr-siema {
  &__user {
    margin-bottom: 10px;
  }

  &__carousel {
    min-height: 272px;
  }

  &__card {
    border-radius: 0;
    background-color: $card-bg;
    list-style-type: none;
    margin: 0 0;
    min-height: 170px;
    overflow: hidden;
    padding: 7px $nav-button-sprite-width + 10px;

    a p {
      color: #000;

      &:hover {
        color: inherit;
      }
    }

    &__text {
      font-size: 14px;
      word-wrap: break-word;
    }

    &__icons {
      height: 18px;

      a {
        margin-right: 10px;
        text-decoration: none !important;
      }

      &--like,
      &--retweet,
      &--twitter {
        cursor: pointer;

        span {
          // Hide text, allow screen readers to read it.
          position: fixed;
          left: -9999px;
        }

        &::after {
          background-repeat: no-repeat;
          background-position: 50% 50%;
          height: 18px;
          width: 18px;
          content:'';
          display: inline-block;
        }
      }

      &--like,
      &--retweet,
      &--twitter {
        &::after {
          /* Initial state is subdued so that :hover has somewhere to go. */
          opacity: 0.5;
          transition: $nav-hover-duration $nav-hover-delay opacity;
        }

        &:hover{
          &::after {
            opacity: 1;
          }
        }
      }

      /* Twitter brand assets: https://dev.twitter.com/basics/image-resources */
      &--like {
        &::after {
          background-image: url(https://g.twimg.com/dev/documentation/image/like-icon-16.png);
        }
      }

      &--retweet {
        padding-top: 3px;

        &::after {
          background-image: url(https://g.twimg.com/dev/documentation/image/retweet-icon-16.png);
        }
      }

      &--twitter {
        &::after {
          background-image: url(https://g.twimg.com/dev/documentation/image/Twitter_logo_blue_16.png);
        }
      }
    }
  }

  &__user-image {
    border-radius: 5px;
  }

  &__wrapper {
    position: relative;
  }

  &__direction-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__prev,
  &__next {
    background-color: rgba(249, 249, 249, 0.2);
    background-repeat: no-repeat;
    background-size: $nav-button-sprite-width $nav-button-sprite-height;
    border-radius: 0;
    border: 0;
    height: $nav-button-height;
    top: 50%;
    position: absolute;
    width: $nav-button-width;
    transform: translateY(-50%);
    z-index: 100;

    &:hover {
      background-color: #fff;
    }
  }

  &__watermark {
    bottom: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 10;
  }

  &__prev {
    background-position: 11px 11px;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 0px 2px $nav-shadow;
    left: 0;
    transition: $nav-hover-duration $nav-hover-delay box-shadow, $nav-hover-duration $nav-hover-delay background-color;

    &:hover {
      box-shadow: 2px 0px 4px $nav-shadow;
    }

  }

  &__next {
    background-position: -11px 11px;
    border-radius: 5px 0 0 5px;
    box-shadow: -2px 0px 2px $nav-shadow;
    right: 0;
    transition: $nav-hover-duration $nav-hover-delay box-shadow, $nav-hover-duration $nav-hover-delay background-color;

    &:hover {
      box-shadow: -2px 0px 4px $nav-shadow;
    }
  }
}
